<h1>Encontrado en el Buscado</h1>
<p> Categoria = 
<%= @categoria %>
</p>
<table>
<thead>
<tr>
	<th>
	<p> Valor </p>
	</th>
</tr>
</thead>
<tbody>
	<% if @matriz != nil then %>
		<% @matriz.each do |registro| %>
		<tr>

			<td class="text-center">
				<%= registro %>
			</td>
		</tr>	
		<% end %>
	<% end %>	
</tbody>		
</table>
